[Unit]
Description=Caddy
After=network.target

[Service]
Restart=on-abnormal

; User and group the process will run as.
User=caddy
Group=caddy

; Specify the start command with a path to the main Caddyfile
ExecStart=/usr/bin/caddy run --environ --config /etc/caddy/Caddyfile
ExecReload=/usr/bin/caddy reload --config /etc/caddy/Caddyfile

; Use graceful shutdown with a reasonable timeout.
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s

; Limit the number of file descriptors.
LimitNOFILE=1048576

; Limit the number of sub processes.
LimitNPROC=512

; Use private /tmp and /var/tmp, which are discarded after caddy stops.
PrivateTmp=true

; Make /usr /boot /etc read-only.
ProtectSystem=full

; Grant capabilities that the process normally wouldn't have started with.
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
